# Python virtual environment
venv/
charts/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Matplotlib cache
.mpl_cache/

# VSCode settings
.vscode/ 